@model IEnumerable<FinalProjectMVC.Areas.AdminPanel.ViewModel.AdminReportsReviewsViewModel>

@{
    ViewData["Title"] = "Reports";
}


<div class="accordion" id="accordionExample">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header" id="@($"heading{item.ReportId}")">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="@($"#collapse{item.ReportId}")" aria-expanded="false" aria-controls="@($"collapse{item.ReportId}")">
                        Report: #@item.ReportId  |  @item.Name  |  @item.SellerName  |  @item.CreatedDate
                        <span class="badge badge-pill float-right @((item.IsSolved) ? "badge-success" : "badge-danger")">
                            @((item.IsSolved) ? "Solved" : "Unsolved")
                        </span>
                    </button>
                </h2>
            </div>

            <div id="@($"collapse{item.ReportId}")" class="collapse" aria-labelledby="@($"heading{item.ReportId}")" data-parent="#accordionExample">
                <div class="card-body">
                    <p>@item.Description</p>

                    <div class="accordion" id="innerAccordion">
                        <div class="card">
                            <div class="card-header" id="@($"heading{item.ReportId}{item.ReviewId}{item.Name}")">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="@($"#collapse{item.ReportId}{item.ReviewId}{item.Name}")" aria-expanded="false" aria-controls="@($"collapse{item.ReportId}{item.ReviewId}{item.Name}")">
                                        Review: #@item.ReviewId  |  @item.ReviewName  |  @item.CustomerName 
                                    </button>
                                </h2>
                            </div>

                            <div id="@($"collapse{item.ReportId}{item.ReviewId}{item.Name}")" class="collapse" aria-labelledby="@($"heading{item.ReportId}{item.ReviewId}{item.Name}")" data-parent="#innerAccordion">
                                <div class="card-body">
                                    <p>@item.ReviewDescription</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-footer">
                <button class="btn btn-success mr-2" type="button">Make as Solved</button>
                <button class="btn btn-warning mr-2" type="button">Block User</button>
                <button class="btn btn-danger" type="button">Delete Review</button>
            </div>
        </div>
    }
</div>