@using FinalProjectMVC.Areas.AdminPanel.Models;
@model IEnumerable<FinalProjectMVC.Areas.SellerPanel.Models.SellerProduct>

@{
    ViewData["Title"] = "Index";
    List<Category> Categories = ViewBag.Categories;
    List<Brand> Brands = ViewBag.Brands;
}

@*@section Header {
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </div>
}*@

<div class="row my-5">
  @*  <div class="container col-2 col-lg-2 border border-secondary border-2 rounded-2 p-2">
        @foreach (var Category in Categories)
        {
            <h6>@Category.Name</h6>
            <ul>
                @if (Category.SubCategories is not null)
                {
                    foreach(var Sub in Category.SubCategories)
                    {
                        <li>@Sub.Name</li>
                    }
                }
            </ul>
        }
        <hr/>
        <h5>Brands</h5>
        <ul>
            @foreach (var Brand in Brands)
            {
                <li>@Brand.Name</li>
            }
        </ul>
    </div>*@
    <div class="container col-12">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    @if (item.Product.ProductImage != null && item.Product.ProductImage.Length > 0)
                    {
                            <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" src="data:image;base64,@(Convert.ToBase64String(item.Product.ProductImage))" /></a>
                    }
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                                <p>@Html.DisplayFor(modelItem => item.Product.Brand.Name)</p>
                                <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Product.Name)</h5>
                                <p class="">@Html.DisplayFor(modelItem => item.Product.Description)</p>
                            
                            <!-- Product price-->
                                <p>Price: @Html.DisplayFor(modelItem => item.Price)</p>
                                <p>Count: @Html.DisplayFor(modelItem => item.Count)</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>