@using FinalProjectMVC.Areas.AdminPanel.Models;
@model IEnumerable<FinalProjectMVC.Areas.SellerPanel.Models.SellerProduct>

@{
    ViewData["Title"] = "Index";
    List<Category> Categories = ViewBag.Categories;
    List<Brand> Brands = ViewBag.Brands;
}

@*@section Header {
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </div>
}*@

@*<div class="container">
    <h1>Product List</h1>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="data:image;base64,@(Convert.ToBase64String(product.Product.ProductImage ?? new byte[0]))" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@product.Product.Name</h5>
                        <p class="card-text">@product.Product.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@product.Product.SubCategory.Name - @product.Product.Brand.Name</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@

<a class="btn btn-primary" asp-action="Create">Add New Product</a>

<div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
    @foreach (var product in Model)
    {
        <div class="col mb-2">
            <div class="card mt-2 h-100">
                <div class="row g-0">
                    <div class="col-4 d-flex align-items-center">
                        <img class="card-img-top align-self-center" src="data:image;base64,@(Convert.ToBase64String(product.Product.ProductImage ?? new byte[0]))" alt="Product Image">
                    </div>
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">@product.Product.Name</h5>
                            <p class="card-text">@product.Product.Description</p>
                            <p class="card-text"><strong>Price:</strong> @product.Price</p>
                            <p class="card-text"><strong>Count:</strong> @product.Count</p>
                            <a asp-action="Details" asp-route-id="@product.Product.Id" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@product.Product.SubCategory.Name - @product.Product.Brand.Name</small>
                </div>
            </div>
        </div>
    }
</div>
