@using FinalProjectMVC.Areas.AdminPanel.Models;
@model IEnumerable<FinalProjectMVC.Areas.SellerPanel.Models.Product>

@{
    ViewData["Title"] = "Index";
    List<Category> Categories = ViewBag.Categories;
    List<Brand> Brands = ViewBag.Brands;
}

@section Header {
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="container col-2 border border-secondary border-2 rounded-2 p-2">
        @foreach (var Category in Categories)
        {
            <h6>@Category.Name</h6>
            <ul>
                @if (Category.SubCategories is not null)
                {
                    foreach(var Sub in Category.SubCategories)
                    {
                        <li>@Sub.Name</li>
                    }
                }
            </ul>
        }
        <hr/>
        <h5>Brands</h5>
        <ul>
            @foreach (var Brand in Brands)
            {
                <li>@Brand.Name</li>
            }
        </ul>
    </div>
    <div class="container col-10">
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    @if (item.ProductImage != null && item.ProductImage.Length > 0)
                    {
                            <a asp-action="Details" asp-route-id="@item.Id"><img class="card-img-top" src="data:image;base64,@(Convert.ToBase64String(item.ProductImage))" /></a>
                    }
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                                <p>@Html.DisplayFor(modelItem => item.Brand.Name)</p>
                                <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <p class="">@Html.DisplayFor(modelItem => item.Description)</p>
                            
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @if (item.ProductImage != null && item.ProductImage.Length > 0)
                    {
                        <img width="100" height="100" src="data:image;base64,@(Convert.ToBase64String(item.ProductImage))" />
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@