@model IEnumerable<FinalProjectMVC.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-dark mt-auto" asp-action="Create">Add Review</a>
</p>

<form method="get" asp-action="Index">
    <label for="ProductId">Product:</label>

    <select asp-for="ProductId" class="form-control" asp-items="@ViewBag.ProductList">
        <option disabled="disabled" selected="selected">Select Product</option>
    </select>


    <button type="submit">Filter</button>
</form>

<div>
    @foreach (var item in Model)

    {

        <div class="card h-30 w-50 m-auto mb-4">

           
  
            <div class="card-body p-4">
                <div class="text-start">
      
                    <h5 class="fw-bolder">@Html.DisplayFor(modelItem => item.Product.Name)</h5>

                    <div>
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div>
                        @Html.DisplayFor(modelItem => item.Description)
                    </div>

                    <div>
                        @Html.Raw(ConvertToStars(item.Rating))
                      @*  @Html.DisplayFor(modelItem => item.Rating)*@
                    </div>
                   
                     <div>
                           @Html.DisplayFor(modelItem => item.Product.Name)
                    </div>
                </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <a class="btn btn-outline-dark mt-auto" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-outline-dark mt-auto" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    <a class="btn btn-outline-dark mt-auto" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                 
                </div>
            </div>
        </div>
    }
</div>


@{
    string ConvertToStars(int rating, int totalStars = 5)
    {
        string stars = "";
        for (int i = 0; i < totalStars; i++)
        {
            if (i < rating)
            {
                stars += "<span style='color:yellow;font-size:25px;'>&#9733;</span>";
            }
            else
            {
                stars += "<span style='color:gray;font-size:25px;'>&#9733;</span>";
            }
        }
        return stars;
    }
}


