@model FinalProjectMVC.ViewModels.FrontPageViewModel;
@using FinalProjectMVC.Areas.AdminPanel.Models;
@{
    ViewData["Title"] = "Home Page";
    //List<Category> Categoires = ViewBag.Categories;

    //List<Brand> Brands = ViewBag.Brands;
}


@section FeaturedProducts 
{
    <div class="container-fluid p-5 bg-dark ">
        <h2 class="text-white">Featured Products</h2>
    <div class="row">
        @foreach (var item in Model.FeaturedProducts)
        {
            <div class="col-md-3">
                <div class="card">
                        <img src="data:image;base64,@(Convert.ToBase64String(item.ProductImage ?? new byte[0]))" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">
                            $@(item.SellerProducts?.FirstOrDefault()?.Price ?? (decimal)50.00)
                        </p>
                            <a asp-action="Details" asp-controller="Products" asp-area="CustomerPanel" asp-route-Id="@item.Id" asp-route-SellerId="@item.SellerProducts.FirstOrDefault().SellerId" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}

@section BestSellerProducts
{
    <div class="container-fluid p-5 bg-light ">
        <h2>Best Seller Products</h2>
        <div class="row">
            @foreach (var item in Model.BestSelllerProducts)
            {
                <div class="col-md-3">
                    <div class="card">
                        <img src="data:image;base64,@(Convert.ToBase64String(item.ProductImage ?? new byte[0]))" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">
                                $@(item.SellerProducts?.FirstOrDefault()?.Price ?? (decimal)50.00)
                            </p>
                            <a asp-action="Details" asp-controller="Products" asp-area="CustomerPanel" asp-route-Id="@item.Id" asp-route-SellerId="@item.SellerProducts.FirstOrDefault().SellerId" class="btn btn-primary">Buy Now</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


@section Header {

    <div class="bg-light-subtle d-flex flex-column flex-grow-1 vh-100 justify-content-center">
        <div class="container align-self-center">
            <div class="row">
                <div class="col-md-8 align-self-center">
                    <h1>Welcome to Mesh-Amazon Website!</h1>
                    <p>
                        Here you will find everything you need at the best prices. Browse
                        our catalog and choose from a wide range of products.
                    </p>
                    <a asp-action="Index" asp-controller="Products" asp-area="CustomerPanel" class="btn btn-primary">Shop Now</a>
                </div>
                <div class="col-md-4">
                    <img src="~/WebsiteLogo/meshAmazonLogo-small.png"
                         alt="Mesh-Amazon Website"
                         class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
}