@using FinalProjectMVC.Areas.AdminPanel.Models;
@{
    ViewData["Title"] = "Home Page";
    List<Category> Categoires = ViewBag.Categories;

    List<Brand> Brands = ViewBag.Brands;
}





<div class="flex-shrink-0 p-3" style="width: 280px;">

    <ul class="list-unstyled ps-0">

        @foreach (var item in Categoires)
        {
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#@item.Id" aria-expanded="false">
                    @item.Name
                </button>
                <div class="collapse" id="@item.Id">
                    <ul class="list-unstyled ps-0">
                        @foreach(var subCat in item.SubCategories)
                        {
                            <li>
                                <a href="@Url.Action("showdata", "Home", new { id = subCat.Id })">@subCat.Name @subCat.Id</a>
                            </li>
                        }
                    </ul>
                </div>
            </li>
        }


        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                Orders
            </button>
            <div class="collapse" id="orders-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="list-group-item">New</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Processed</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Shipped</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Returned</a></li>
                </ul>
            </div>
        </li>
    </ul>
</div>


@section Header {
    <div class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </div>
}
@*background-image: url("https://via.placeholder.com/400x300/3498DB/FFFFFF?text=Electronics");*@
@{
    string UrlPath = "https://d2csxpduxe849s.cloudfront.net/media/E32629C6-9347-4F84-81FEAEF7BFA342B3/C0DBF8AC-DB0E-4621-96C05D3B6E366D02/E142C7C6-62EF-4320-A6C2DB6EB2B3F4E1/WebsiteJpg_XL-FELEC_Main%20Visual_Purple_Website.jpg";
}
<h1 class="text-center m-5">Shop by Category</h1>
<div class="row">
    @foreach (var Category in Categoires)
    {
        <div class="col-md-4">
            <div class="card" style="background-image: url(@UrlPath)">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h2 class="text-center text-white">@Category.Name</h2>
                </div>
            </div>
        </div>
    }
</div>

<h1 class="text-center m-5">Shop by Brand</h1>
<div class="row">
    @foreach (var Brand in Brands)
    {
        <div class="col-md-4 mb-2">
            <div class="card" style="background-image: url(@UrlPath)">
                <div class="card-body d-flex align-items-center justify-content-center">
                    <h2 class="text-center text-white">@Brand.Name</h2>
                </div>
            </div>
        </div>
    }
</div>